:root {
  --bg-main: #edfdf4;
  --bg-dark: #490011;
  --bg-light: #a6001e;
  --text-main: #edfdf4;
  --text-color-dark: #490011;
  --text-color-light: #a6001e;
  --other-color: #2a8464;
}

/* NAVBAR */

.nav_cover {
  background-color: var(--bg-dark);
  /* opacity: .; */
}

.nav_logo_link {
  color: var(--text-color-light);
}

.logo_inner {
  color: var(--text-main);
}

.nav_list {
  color: var(--text-main);
  position: relative;
  transition: 0.3s;
}

.nav_list::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  background-color: var(--bg-main);
  height: 3px;
  width: 0;
  transition: 0.3s;

  border-radius: 3px;
}

.nav_list:hover::before {
  width: 100%;
}

.activeLink {
  color: var(--bg-light);
  position: relative;
}

.activeLink::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  background-color: var(--bg-main);
  height: 3px;
  width: 100%;
  transition: 0.3s;
  border-radius: 3px;
}

.nav_search_cover {
  width: 35px;
  height: 35px;
  background-color: #edfdf453;
  border-radius: 50%;
  cursor: pointer;
}

.nav_search {
  color: var(--text-main);
  transition: 0.5s;
}

.nav_search_cover:hover .nav_search {
  rotate: 30deg;
}

/* HERO */

.hero_cover {
  background: url("./assets/dark.jpg");
  height: 530px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #a6001e7b;
  background-blend-mode: darken;
  position: relative;
}

.hero_category_cover {
  background-color: var(--bg-light);
  color: var(--text-main);
}

.hero_left_middle h1 {
  transition: 0.3s;
  cursor: pointer;
}

.hero_left_middle h1:hover {
  color: var(--text-color-light);
}


.hero_icons b {
  color: var(--text-main);
}

.hero_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: var(--bg-main);
}

/* -- CardOne -- */

/* .card_one_image {
  width: 70px;
  height: 70px;
  border-radius: 5px;
} */

.card_one_image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.card_one_topic {
  color: var(--text-color-dark);
  font-weight: 900;
}

/* TRENDING NEWS */

.trending_cover {
  background-color: var(--bg-main);
}

.trending_header {
  color: var(--text-color-dark);
  font-weight: 900;
}

.seperator {
  background-color: var(--bg-light);
  /* width: 300px; */
  height: 3px;
}

/* -- Image card -- */

.image_card_cover {
  background: url("./assets/dark.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #80808082;
  background-blend-mode: darken;
  transition: 0.3s;
  position: relative;
}

.image_card_cover:hover {
  background-position: 80% 80%;
}

.image_card_inner {
  position: absolute;
  left: 5%;
  bottom: 10%;
}

.image_card_date {
  transform: translate3d(0, 1rem, 0);
  opacity: 0;
  transition: 0.3s;
}

.image_card_category {
  background-color: var(--bg-main);
  color: var(--text-color-light);
}

.image_card_cover:hover .image_card_date {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.image_author b span {
  color: var(--text-color-light);
}

/* -- Card Two -- */

.card_two_cover {
  border-color: #a6001e1e;
}
.card_two_img {
  width: 100px;
  height: 80px;
}

.card_two_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge_category {
  background-color: #a6001e48;
  font-size: 11px;
}

.card_two_head {
  color: var(--text-color-dark);
}

/* WEATHER */
.weather_cover {
  background-color: var(--bg-dark);
  border-radius: 12px;
  padding: 1rem;
}

.weather_gradient {
  background-image: radial-gradient(
    circle,
    rgba(73, 0, 17, 0.85),
    rgba(86, 37, 5, 0.75),
    rgba(85, 71, 11, 0.65),
    rgba(73, 0, 17, 0.55),
    rgba(73, 0, 17, 0.7)
  );
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.weather_location {
  font-size: 1.2rem;
  font-weight: bold;
}

.weather_temp h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--text-main);
}

.weather_temp small {
  font-size: 0.9rem;
  opacity: 0.8;
}

.weather_icons {
  margin: 10px 0;
}

.weather_details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.weather_detail_item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 0.5rem;
}

.weather_icon {
  color: var(--text-color-light);
}

.weather_hourly .hr_icon {
  color: var(--text-color-light);
}

.weather_hourly small {
  color: var(--text-main);
}

.weather_hourly_inner {
  overflow-x: scroll;
}

.weather_hourly_inner::-webkit-scrollbar {
  display: none;
}

.hourly_bg {
  background-color: var(--bg-main);
}

.hourly_time h1 {
  color: var(--bg-dark);
  font-weight: bold;
}

.hourly_degree {
  font-weight: bolder;
  color: var(--text-color-light);
}

/* CARD THREE */

.card_three_cover img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.card_three_cover img:hover {
  scale: 1.1;
}

.card_three_cover {
  border-color: #a6001e1e;
}

/* CARD FOUR */

.section_three_head {
  border-left: 4px solid var(--bg-light);
  padding-left:15px;
}

.card_four_image {
  overflow: hidden;
}

.card_four_image img {
  transition: .3s;
}

.card_four_image img:hover {
  scale: 1.1;
}

.card_four_cover h1 {
  font-weight: 700;
  width: 90%;
}

.card_four_description p {
  color: #ccc;
}

.section_three_content {
  border-top: 1px solid #a6001e1e;
  color: #490011; 
}

/* NEWS CONTENT */

.news_content_cover {
  background-color: var(--bg-dark);

}

.news_content_img {
  width: 100%;
  height: 500px;
}

.news_content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}