@import "tailwindcss";

:root {
  --bg-main: #edfdf4;
  --bg-dark: #490011;
  --bg-light: #a6001e;
  --text-main: #edfdf4;
  --text-color-dark: #490011;
  --text-color-light: #a6001e;
  --other-color: #2a8464;
}

.text_main {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.text_suv {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #edfdf4;
}

.lnk {
  cursor: pointer;
  transition: .3s;
  font-family: "Lustria", serif;

}

.lnk:hover {
  color: var(--text-color-light);

}

.fnt {
  font-family: "Lustria", serif;
}

.text-white{
  color: var(--text-main);
}
